<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <h1 class="navbar-brand" id="mongoTitle">Mongo Scraper</h1>
        </div>
        <div class="navbar-header">
            <a href="/">
                <h4 class="navbar-brand" id="home">Home</h4>
            </a>
        </div>
        <div class="navbar-header">
            <a href="/savedArticles">
                <h4 class="navbar-brand" id="name">Saved Articles</h4>
            </a>
            <button type="button" class="btn btn-danger scraper" id="savedScraper"><h3>SCRAPE NEW ARTICLES!</h3></button>
        </div>
    </div>
</nav>
<div class="container">
    <div id="middleText">
            <div id="giantText">MONGO SCRAPER</div>
            <div id="smallerText">NEW YORK TIMES EDITION</div>
    </div>
    <div class="container" id="savedArticleArea">
        <div id="savedStatus">
            <h1>No Saved Articles at this Moment in Time!</h1>
        </div>
        <div id="savedarticlesDisplay">
            
        </div>
    </div>
</div>