<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <h1 class="navbar-brand" id="name">Mongo Scraper</h1>
        </div>
        <div class="navbar-header">
            <h4 class="navbar-brand" id="name">Mongo Scraper</h4>
        </div>
        <div class="navbar-header">
            <h4 class="navbar-brand" id="name">Mongo Scraper</h4>
            <button type="button" class="btn btn-danger"><h3>SCRAPE NEW ARTICLES!</h3></button>
        </div>
    </div>
</nav>
<div class="container">
    <div id="middleText">
            <div id="giantText">MONGO SCRAPER</div>
            <div id="smallerText">NEW YORK TIMES EDITION</div>
    </div>
    <div class="container" id="articleArea">
        <div id="status">
            <h1>Seems as though thou hasn't any new articles!</h1>
        </div>
        <div id="articlesDisplay">
            
        </div>
    </div>
</div>